body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.row, .column {
    border: black solid 1px;
    display: flex;
    flex: 1;
}

#gridContainer {
    border: red solid 3px;
    display: flex;
    height: 500px;
    width: 500px;
    flex-wrap: wrap;
    flex-direction: row;
}